h2 Player List
br
div
 span.RESISTANCE Resistance({{resistancePlayers.length}})
 span.ALIENS Enlightened({{alienPlayers.length}})
table.bordered
       thead
        th name
        th(ng-click="sortByLevel()") 
        th portals (curr)
        th resonators (curr)
        th links (curr)
        th fields (curr)
        th total actions
        th resonators deployed
        th resonators destroyed
        th links created
        th links destroyed
        th fields created
        th fields destroyed
        th portals captured
       tbody
        tr(ng-repeat='player in players | startFrom:currentPage*pageSize | limitTo:pageSize')
          td
           a(href="/player/{{player.id}}")
            span(class="{{player.team}}") {{player.name}}
          td
           span(class="l{{player.level}}") L{{player.level}}
          td
           {{player.portals}}
          td
           {{player.resos}}
          td
           {{player.links}}
          td
           {{player.fields}}
          td
           {{player.actions}}
          td
           {{player.rdeploy}}
          td
           {{player.rdestroy}}
          td
           {{player.lcreate}}
          td
           {{player.ldestroy}}
          td
           {{player.fcreate}}
          td
           {{player.fdestroy}}
          td
           {{player.pcapture}}
div
 button(ng-disabled="currentPage == 0",ng-click="currentPage=0") First
 button(ng-disabled="currentPage == 0",ng-click="currentPage=currentPage-1") Prev
 span {{currentPage+1}}/{{numberOfPages()}}
 button(ng-disabled="currentPage >= portals.length/pageSize - 1",ng-click="currentPage=currentPage+1") Next
 button(ng-disabled="currentPage >= portals.length/pageSize - 1",ng-click="currentPage=numberOfPages()-1") Last