h2 Intel Summary
div Total player count: {{playerCount}}
br
div(ng-repeat='portal in portals')
   div(class="{{portal.team}}") {{portal.team}} Portals: {{portal.count}}
br
div(ng-repeat='team in teams')
   a(href="team/{{team.team}}")
    div(class="{{team.team}}") {{team.team}} Players: {{team.count}}
br
select(ng-change="change()",id="datePicker",ng-options='date.date for date in availableDates',ng-model="currentDate")
br
div Total player actions: {{playerActionCount}}
br
div
 span Data Completion: 
 table.timescape
  tr
   td(ng-repeat='time in timeBlocks',class="{{time.present}} t{{time.timeblock}}") &nbsp;
table
   tr
    td
     div.tableTitle Top Active
     a(ng-repeat='player in topActive',href="player/{{player.id}}")
      div(class="{{player.team}}")
       span {{player.count}} 
       span(class="l{{player.level}}") ({{player.level}})
       span {{player.name}}
    td
     div.tableTitle Top Link Creators
     a(ng-repeat='player in topLinkers',href="player/{{player.id}}")
      div(class="{{player.team}}")
       span {{player.count}} 
       span(class="l{{player.level}}") ({{player.level}})
       span {{player.name}}
    td
     div.tableTitle Top Field Creators
     a(ng-repeat='player in topFielders',href="player/{{player.id}}")
      div(class="{{player.team}}")
       span {{player.count}} 
       span(class="l{{player.level}}") ({{player.level}})
       span {{player.name}}
   tr
    td
     div.tableTitle Top Cappers
     a(ng-repeat='player in topCappers',href="player/{{player.id}}")
      div(class="{{player.team}}")
       span {{player.count}} 
       span(class="l{{player.level}}") ({{player.level}})
       span {{player.name}}
    td
     div.tableTitle Top Link Destroyers
     a(ng-repeat='player in topUnlinkers',href="player/{{player.id}}")
      div(class="{{player.team}}")
       span {{player.count}} 
       span(class="l{{player.level}}") ({{player.level}})
       span {{player.name}}
    td
     div.tableTitle Top Field Destroyers
     a(ng-repeat='player in topUnfielders',href="player/{{player.id}}")
      div(class="{{player.team}}")
       span {{player.count}} 
       span(class="l{{player.level}}") ({{player.level}})
       span {{player.name}}