<html ng-csp>
<head>
	<script src="angular.js"></script>
	<script src="leaflet-src.js"></script>
	<script src="L.Control.Pan.js"></script>
	<script src="heatmap.js"></script>
	<script src="heatmap-leaflet.js"></script>
	<script src="parse.js"></script>
	<script src="panel.js"></script>
	<link rel='stylesheet' href='style.css'>
	<link rel='stylesheet' href='leaflet.css'>
	<link rel='stylesheet' href='L.Control.Pan.css'>
</head>
<body>
<div class="header" ng-controller="HeaderCtrl">
    <div>Process Queue: {{queue}} Players: {{players}} Portals: {{portals}} Plexts: {{plexts}} Chats: {{chats}}
	  <span class="rightalign">
	    ScanSize {{scanLength}} StalePortals: {{stale}} 
	    <input type="button" ng-click="scan()" value="SCAN"></input>
        AutoScroll 
        <input type="button" ng-click="start()" value="START"></input>
        <input type="button" ng-click="stop()" value="STOP"></input>
	  </span>
	</div>
    <div>maxLat {{maxLatE6}} maxLong {{maxLngE6}} minLat {{minLatE6}} minLong {{minLngE6}}</div>
    <ul class="nav-bar">
        <li class="nav-item ALIENS nav-link" ng-click="aplink()">
            PORTALS 
        </li>
        <li class="nav-item ALIENS nav-link" ng-click="playerlink()">
            PLAYERS 
        </li>
        <li class="nav-item ALIENS nav-link" ng-click="summarylink()">
            SUMMARY 
        </li>
        <li class="nav-item ALIENS nav-link" ng-click="chatloglink()">
            CHATLOG 
        </li>
        <li class="nav-item ALIENS nav-link" ng-click="heatmaplink()">
            HEATMAP 
        </li>
        <li class="nav-item ALIENS nav-link" ng-click="clearlink()">
            CLEAN PLEXTS 
        </li>
    </ul>
</div>
<div ng-view></div>
</body>
</html>