<div>
 <span ng-click="gotolatlng(portal.lat,portal.lng)" class="click">Zoom </span>
 <span class="l{{portal.level}}"> L{{portal.level}} </span>
 <span class="{{portal.team}}"> {{portal.name}} captured for {{portal.captured}} days</span>
</div>
<div>
 <span class="ALIENS">{{alienowner}} Days ({{alienpct}}%) </span>
 <span class="RESISTANCE">{{resistowner}} Days ({{resistpct}}%) </span>
</div>
<table>
   <tbody>
    <tr ng-repeat='plext in plexts'>
     <td>
      {{plext.date}}
     </td>
     <td>
      {{plext.action}} {{plext.type}}
     </td>
     <td class="{{plext.playerteam}} back" ng-click="loadPlayer(plext.playerid)">
       {{plext.playername}}
     </td>
    </tr>
   </tbody>
  </table>