<table>
 <tr>
  <td>
   <div class="tableTitle">Top Active</div>
   <div ng-repeat="player in topActive">
    <div class="{{player.team}}" ng-click="loadPlayer(player.id)">
     <span> {{player.total}} </span>
     <span class="l{{player.level}}"> ({{player.level}})</span>
     <span> {{player.name}}</span>
    </div>
   </div>
  </td>
  
  <td>
   <div class="tableTitle">Top Field Creators</div>
   <div ng-repeat="player in topFielders">
    <div class="{{player.team}}" ng-click="loadPlayer(player.id)">
     <span> {{player.fields}} </span>
     <span class="l{{player.level}}"> ({{player.level}})</span>
     <span> {{player.name}}</span>
    </div>
   </div>
  </td>
  
  <td>
   <div class="tableTitle">Top Linkers</div>
   <div ng-repeat="player in topLinkers">
    <div class="{{player.team}}" ng-click="loadPlayer(player.id)">
     <span> {{player.links}} </span>
     <span class="l{{player.level}}"> ({{player.level}})</span>
     <span> {{player.name}}</span>
    </div>
   </div>
  </td>
  
  <td>
   <div class="tableTitle">Top Resonator Deployers</div>
   <div ng-repeat="player in topDeployers">
    <div class="{{player.team}}" ng-click="loadPlayer(player.id)">
     <span> {{player.resonators}} </span>
     <span class="l{{player.level}}"> ({{player.level}})</span>
     <span> {{player.name}}</span>
    </div>
   </div>
  </td>
 </tr>
 <tr>
  <td>
   <div class="tableTitle">Top Cappers</div>
   <div ng-repeat="player in topCappers">
    <div class="{{player.team}}" ng-click="loadPlayer(player.id)">
     <span> {{player.captures}} </span>
     <span class="l{{player.level}}"> ({{player.level}})</span>
     <span> {{player.name}}</span>
    </div>
   </div>
  </td>
  
  <td>
   <div class="tableTitle">Top Field Destroyers</div>
   <div ng-repeat="player in topUnfielders">
    <div class="{{player.team}}" ng-click="loadPlayer(player.id)">
     <span> {{player.unfields}} </span>
     <span class="l{{player.level}}"> ({{player.level}})</span>
     <span> {{player.name}}</span>
    </div>
   </div>
  </td>
  
  <td>
   <div class="tableTitle">Top Unlinkers</div>
   <div ng-repeat="player in topUnlinkers">
    <div class="{{player.team}}" ng-click="loadPlayer(player.id)">
     <span> {{player.unlinks}} </span>
     <span class="l{{player.level}}"> ({{player.level}})</span>
     <span> {{player.name}}</span>
    </div>
   </div>
  </td>
  
  <td>
   <div class="tableTitle">Top Resonator Destroyers</div>
   <div ng-repeat="player in topDestroyers">
    <div class="{{player.team}}" ng-click="loadPlayer(player.id)">
     <span> {{player.unresonators}} </span>
     <span class="l{{player.level}}"> ({{player.level}})</span>
     <span> {{player.name}}</span>
    </div>
   </div>
  </td>
 </tr>
 <tr>
  <td>
   <div class="tableTitle">Top Active Portals</div>
   <div class="{{portal.team}}" ng-repeat="portal in topActivePortals">
    <span> {{portal.total}} </span>
    <span class="l{{portal.level}}">({{portal.level}})</span>
    <span ng-click="loadPortal(portal.id)" class="back"> {{portal.name}} </span>
   </div>
  </td>
  
  <td>
   <div class="tableTitle">Top Captured Portals</div>
   <div class="{{portal.team}}" ng-repeat="portal in topContested">
    <span> {{portal.captures}} </span>
    <span class="l{{portal.level}}">({{portal.level}})</span>
    <span ng-click="loadPortal(portal.id)" class="back"> {{portal.name}} </span>
   </div>
  </td>
  
  <td></td>
  
  <td></td>
 </tr>
</table>